@charset "UTF-8";

table{
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	table-layout: fixed;
	color: #000;
}

table th{
	padding: 15px 0;
	border-right: 1px solid #bbb;
	text-align: center;
}

table td{
	padding: 1em 10px 1em 1em;
	border-right: 1px solid #bbb;
	text-align: center;
}

table th:last-child,
table td:last-child{
	border: none;
}

.nav-container{
	width: 100%;
}

.nav-color{
	background-color:#331904 ;
	color: white;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	font-size: 1.5rem;
}

.content-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vh 0;;
}

.content-wrap{
	width: 50%;
	height: 50%;
	padding: 2vh 2vw;
	border: #331904 solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.table-title-wrap{
	display: flex;
	justify-content: center;	
}

.table-title{
	font-size: 20px;
	font-weight: bold;
}

.edit-wrap{
	display: flex;
	align-items:center ;
}

.form-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.space-padding{
	padding-bottom: 1rem;
}

.space-margin{
	margin-bottom: 2rem;
}

.padding-right{
	padding-right: 1rem;
}

.text-center{
	text-align: center;
}

.text-form{
	width: 100%;
	padding: 0.5rem;
}

.button-form{
	padding: 0.5rem 2rem;
	border: none;
	color: #fff;
 	background-color: #eb6100;
 	border-radius: 100vh;
}

.button-form:hover{
	color: #fff;
 	background: #f56500;
}

.button-edit-form{
	padding: 0.5rem 2rem;
	border: none;
	color: #fff;
 	background-color: #eb6100;
 	border-radius: 100vh;
 	text-decoration: none;
}

.button-edit-form:hover{
	color: #fff;
 	background: #f56500;
}

.button-delete-form{
	padding: 0.5rem 2rem;
	border: none;
	color: #000;
 	background-color: #eeeeee;
 	border-radius: 100vh;
 	text-decoration: none;
}
.button-delete-form:hover{
	color: #000;
 	background: #aaaaaa;
}

.span-border{
	padding: 0.5rem;
	border: #331904 solid 1px;
}